@model CreateMemberVM
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Forms</h5>
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" >
                        <div class="mb-3">
                            <label asp-for="FullName" class="form-label">Full Name</label>
                            <input asp-for="FullName" class="form-control" >
                            <span asp-validation-for="FullName"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="JobTitle" class="form-label">Job Title</label>
                            <input asp-for="JobTitle" class="form-control">
                            <span asp-validation-for="JobTitle"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description</label>
                            <input asp-for="Description" class="form-control">
                            <span asp-validation-for="Description"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Image" class="form-label">Image</label>
                            <input asp-for="Image" class="form-control">
                            <span asp-validation-for="Image"></span>
                        </div>
                       

                       
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>